.btn {
  border: 1px solid black;
  background-color: white; 
  border-radius: 4px;
  color: black;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 100px;
  margin-top: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.right {
  float: right;
}

#logButton {
  border-color: lightgreen;
  color: lightgreen;
}

#logButton:hover {
  background-color: lightgreen;
  color: white;
}

#regButton {
  border-color: lightskyblue;
  color: lightskyblue;
}

#regButton:hover {
  background-color: lightskyblue;
  color: white;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 12pt;
  border: 1px solid #ccc;
}

main {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  background: #fff;
  border-bottom: 3px solid cornflowerblue;
}

main ul li{
  width: 100%;
  display: block;
  margin: 5px 0px;
}

#canvas {
  background: black;
}
